USE [master]
GO

-- 1. DỌN DẸP BẢNG RÁC NẾU LỠ BỊ TẠO NHẦM Ở DATABASE MASTER TRƯỚC ĐÓ
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[room]') AND type in (N'U')) DROP TABLE [dbo].[room];
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[hotel]') AND type in (N'U')) DROP TABLE [dbo].[hotel];
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[users]') AND type in (N'U')) DROP TABLE [dbo].[users];
GO

-- 2. KHỞI TẠO HOẶC LÀM SẠCH DATABASE HOTEL_DB (XÓA CŨ TẠO MỚI)
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'hotel_db')
BEGIN
    ALTER DATABASE [hotel_db] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [hotel_db];
END
GO

-- Tạo mới database theo đường dẫn mặc định của hệ thống máy bạn để tránh lỗi OS Error 3
CREATE DATABASE [hotel_db]
CONTAINMENT = NONE
GO

-- 3. CHUYỂN SANG SỬ DỤNG DATABASE HOTEL_DB ĐỂ TẠO CẤU TRÚC VÀ NHẬP DATA
USE [hotel_db]
GO

-- ---------------------------------------------------------
-- CẤU TRÚC BẢNG: hotel
-- ---------------------------------------------------------
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hotel](
	[active] [bit] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[price] [float] NOT NULL,
	[rating] [int] NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[image_url] [nvarchar](255) NULL,
	[name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)) ON [PRIMARY]
GO

-- ---------------------------------------------------------
-- CẤU TRÚC BẢNG: room
-- ---------------------------------------------------------
CREATE TABLE [dbo].[room](
	[acreage] [float] NOT NULL,
	[bed] [int] NOT NULL,
	[hotel_id] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[person] [int] NOT NULL,
	[price] [float] NOT NULL,
	[window] [int] NOT NULL,
	[description] [text] NULL,
	[img_url] [nvarchar](255) NULL,
	[type] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

-- ---------------------------------------------------------
-- CẤU TRÚC BẢNG: users
-- ---------------------------------------------------------
CREATE TABLE [dbo].[users](
	[enabled] [bit] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[otp_expiry] [datetime2](7) NULL,
	[email] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[otp] [nvarchar](255) NULL,
	[password] [nvarchar](255) NOT NULL,
	[role] [nvarchar](255) NOT NULL,
	[username] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)) ON [PRIMARY]
GO

-- ---------------------------------------------------------
-- CHÈN DỮ LIỆU VÀO BẢNG: hotel
-- ---------------------------------------------------------
SET IDENTITY_INSERT [dbo].[hotel] ON 

INSERT [dbo].[hotel] ([active], [id], [price], [rating], [address], [image_url], [name]) VALUES (1, 1, 420000, 5, N'Can Tho', N'/assets/images/hotel/hotel_lion6.jpg', N'Lion 6')
INSERT [dbo].[hotel] ([active], [id], [price], [rating], [address], [image_url], [name]) VALUES (1, 2, 5000000, 4, N'Can Tho', N'/assets/images/hotel/1781766228236_Sheraton.jpg', N'Sheraton')
INSERT [dbo].[hotel] ([active], [id], [price], [rating], [address], [image_url], [name]) VALUES (1, 3, 15000000, 3, N'Can Tho', N'/assets/images/hotel/1781766318151_MuongThanh.jpg', N'Muong Thanh')

SET IDENTITY_INSERT [dbo].[hotel] OFF
GO

-- ---------------------------------------------------------
-- CHÈN DỮ LIỆU VÀO BẢNG: room
-- ---------------------------------------------------------
SET IDENTITY_INSERT [dbo].[room] ON 

INSERT [dbo].[room] ([acreage], [bed], [hotel_id], [id], [person], [price], [window], [description], [img_url], [type]) VALUES (20, 1, 1, 1, 2, 419996, 0, N'With an area of 20 m², the hotel room is designed in a modern style, fully integrated with amenities including luxurious single bed, television, high-speed wifi.', N'/assets/images/room/1781767856409_i_57_794_IMG_6006.jpg', N'STANDARD DOUBLE')
INSERT [dbo].[room] ([acreage], [bed], [hotel_id], [id], [person], [price], [window], [description], [img_url], [type]) VALUES (20, 1, 1, 2, 2, 419996, 0, N'With an area of 20 m², the hotel room is designed in a modern style, fully integrated with amenities including luxurious single bed, television, high-speed wifi.', N'/assets/images/room/1781767880315_i_57_794_IMG_6006.jpg', N'STANDARD DOUBLE')
INSERT [dbo].[room] ([acreage], [bed], [hotel_id], [id], [person], [price], [window], [description], [img_url], [type]) VALUES (18, 1, 1, 3, 2, 420000, 0, N'With an area of 20 m², the hotel room is designed in a modern style, fully integrated with amenities including luxurious single bed, television, high-speed wifi.', N'/assets/images/room/1781767922865_i_57_794_IMG_6006.jpg', N'STANDARD DOUBLE')

SET IDENTITY_INSERT [dbo].[room] OFF
GO

-- ---------------------------------------------------------
-- THIẾT LẬP RÀNG BUỘC DUY NHẤT (UNIQUE) CHO BẢNG users
-- ---------------------------------------------------------
SET ANSI_PADDING ON
GO
ALTER TABLE [dbo].[users] ADD CONSTRAINT [UK6dotkott2kjsp8vw4d0m25fb7] UNIQUE NONCLUSTERED ([email] ASC)
GO
ALTER TABLE [dbo].[users] ADD CONSTRAINT [UKr43af9ap4edm43mmtq01oddj6] UNIQUE NONCLUSTERED ([username] ASC)
GO

-- 4. KẾT THÚC VÀ TRẢ LẠI QUYỀN TRUY CẬP ĐỌC GHI BIỂN VỮNG
USE [master]
GO