<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/bootstrap.css}"/>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="container">

        <h1 class="title">Home</h1>


        <!-- Nếu đã đăng nhập, hiển thị thông tin user và nút Đăng xuất -->
        <div th:if="${user != null}">
            <p>Hello, <strong th:text="${user.username}">User</strong>!</p>
            <p>ROLE: <strong th:text="${user.role}">ROLE</strong></p>

            <p>
                <a th:if="${#strings.equalsIgnoreCase(user.role, 'ADMIN')}" th:href="@{/admin/dashboard}">Enter Admin Dashboard</a>
                <br th:if="${#strings.equalsIgnoreCase(user.role, 'ADMIN')}"/>
                <a th:href="@{/logout}">Logout</a>
            </p>
        </div>

        <div th:if="${user == null}">
            <a th:href="@{/login}">Login</a> | <a th:href="@{/register}">Register</a>
        </div>
    </div>
</body>
</html>
